assistant,
dialog,
messagedialog,
message-dialog,
printdialog,
window.csd {
    > .titlebar {
        border-radius: rem(6px) rem(6px) 0 0;
    }
}

headerbar.default-decoration button.titlebutton,
.titlebar.default-decoration button.titlebutton {
    padding: 0 4px;
    min-width: 0;
    min-height: 0;
    margin: 0;
}

headerbar button.titlebutton,
.titlebar button.titlebutton {
    padding: 0;
    min-width: 20px;    /* Changed 24 to 20px [Spacing between titlebuttons]*/
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    background-color: rgba(231, 232, 235, 0);
}

headerbar button.titlebutton:hover,
.titlebar button.titlebutton:hover {
    color: rgba(82, 93, 118, 0.8);
    border-color: rgba(82, 93, 118, 0.1);
    background-color: rgba(251, 251, 252, 0.9);
}

headerbar button.titlebutton:active,
headerbar button.titlebutton:checked,
.titlebar button.titlebutton:active,
.titlebar button.titlebutton:checked {
    color: #ffffff;
    border-color: #5294e2;
    background-color: #5294e2;
}

/* Fixed/removed stupid :active border and box
   shadow that applied because of button css*/
headerbar button.titlebutton.close:active,
headerbar button.titlebutton.maximize:active,
headerbar button.titlebutton.minimize:active{
    border-color: transparent;
    box-shadow: none;
}

headerbar button.titlebutton.close,
headerbar button.titlebutton.maximize,
headerbar button.titlebutton.minimize,
.titlebar button.titlebutton.close,
.titlebar button.titlebutton.maximize,
.titlebar button.titlebutton.minimize {
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border-width: 0;
}

headerbar button.titlebutton.close:backdrop,
headerbar button.titlebutton.maximize:backdrop,
headerbar button.titlebutton.minimize:backdrop,
.titlebar button.titlebutton.close:backdrop,
.titlebar button.titlebutton.maximize:backdrop,
.titlebar button.titlebutton.minimize:backdrop {
    opacity: 0.75; /* Changed opacity to make it less poppy for inactive windows*/
}

headerbar button.titlebutton.close,
.titlebar button.titlebutton.close {
    background-image: -gtk-scaled(url("assets/titlebutton-close.png"), url("assets/titlebutton-close@2.png"));
}

headerbar button.titlebutton.close:backdrop,
.titlebar button.titlebutton.close:backdrop {
    background-image: -gtk-scaled(url("assets/titlebutton-close-backdrop.png"), url("assets/titlebutton-close-backdrop@2.png"));
}

headerbar button.titlebutton.close:hover,
.titlebar button.titlebutton.close:hover {
    background-image: -gtk-scaled(url("assets/titlebutton-close-hover.png"), url("assets/titlebutton-close-hover@2.png"));
}

headerbar button.titlebutton.close:active,
.titlebar button.titlebutton.close:active {
    background-image: -gtk-scaled(url("assets/titlebutton-close-active.png"), url("assets/titlebutton-close-active@2.png"));
}

headerbar button.titlebutton.maximize,
.titlebar button.titlebutton.maximize {
    background-image: -gtk-scaled(url("assets/titlebutton-maximize.png"), url("assets/titlebutton-maximize@2.png"));
}

headerbar button.titlebutton.maximize:backdrop,
.titlebar button.titlebutton.maximize:backdrop {
    background-image: -gtk-scaled(url("assets/titlebutton-maximize-backdrop.png"), url("assets/titlebutton-maximize-backdrop@2.png"));
}

headerbar button.titlebutton.maximize:hover,
.titlebar button.titlebutton.maximize:hover {
    background-image: -gtk-scaled(url("assets/titlebutton-maximize-hover.png"), url("assets/titlebutton-maximize-hover@2.png"));
}

headerbar button.titlebutton.maximize:active,
.titlebar button.titlebutton.maximize:active {
    background-image: -gtk-scaled(url("assets/titlebutton-maximize-active.png"), url("assets/titlebutton-maximize-active@2.png"));
}

headerbar button.titlebutton.minimize,
.titlebar button.titlebutton.minimize {
    background-image: -gtk-scaled(url("assets/titlebutton-minimize.png"), url("assets/titlebutton-minimize@2.png"));
}

headerbar button.titlebutton.minimize:backdrop,
.titlebar button.titlebutton.minimize:backdrop {
    background-image: -gtk-scaled(url("assets/titlebutton-minimize-backdrop.png"), url("assets/titlebutton-minimize-backdrop@2.png"));
}

headerbar button.titlebutton.minimize:hover,
.titlebar button.titlebutton.minimize:hover {
    background-image: -gtk-scaled(url("assets/titlebutton-minimize-hover.png"), url("assets/titlebutton-minimize-hover@2.png"));
}

headerbar button.titlebutton.minimize:active,
.titlebar button.titlebutton.minimize:active {
    background-image: -gtk-scaled(url("assets/titlebutton-minimize-active.png"), url("assets/titlebutton-minimize-active@2.png"));
}

assistant,
printdialog,
window.csd {
    > headerbar,
    > .titlebar {
        border-radius: rem(6px) rem(6px) 0 0;
    }
}

assistant,
printdialog,
window {
    headerbar,
    .titlebar {
        // Etched in the light style, shadow in the dark style
        $shadow: 0 1px rgba(white, 0.5);
        @if $color-scheme == "dark" {
            $shadow: 0 1px rgba(black, 0.67);
        }

        @extend %outset-background;
        background-color: #{"@color_primary"};
        color: $fg-color;

        .title {
            // Cannot be a number or fonts break in Flatpak
            font-weight: bold;
            text-shadow: $shadow
        }

        .subtitle {
            opacity: 0.75;
            font-size: 80%;
        }

        windowcontrols button,
        .image-button,
        .mode-switch {
            -gtk-icon-shadow: $shadow;
        }

        // Reset so we don't affect things inside of child popovers/menus
        popover,
        menu {
            text-shadow: none;
            -gtk-icon-shadow: none;
        }

        .large-icons {
            -gtk-icon-size: 24px;
        }
    }

    &.csd {
        headerbar,
        .titlebar {
            box-shadow:
                outset-highlight("full"),
                // Intentionally not in ems since it's used as a stroke
                0 1px 0 0 #{'alpha(shade(@color_primary, 0.7), 0.4)'},
                0 1px rem(2px) rgba(black, 0.2);
            padding: rem(6px);

            @if $color-scheme == "dark" {
                box-shadow:
                    outset-highlight("full"),
                    // Intentionally not in ems since it's used as a stroke
                    0 0 0 1px #{'alpha(shade(@color_primary, 0.5), 0.5)'},
                    0 1px rem(2px) rgba(black, 0.2);
            }

            &:backdrop {
                box-shadow:
                    outset-highlight("full"),
                    0 0 0 1px #{'alpha(shade(@color_primary, 0.7), 0.3)'},
                    0 1px rem(2px) rgba(black, 0.15);
            }

            &.default-decoration {
                padding: rem(3px);
            }

            &.flat {
                background: inherit;
                color: inherit;
                box-shadow: outset-highlight("top");
            }
        }

        // Fixes double shadow in HdyTitleBar and Epiphany
        stack.titlebar headerbar,
        stack.titlebar headerbar:backdrop {
            box-shadow: none;
            padding: 0;
        }

        revealer headerbar {
            // Box shadow can't overlay content
            border-bottom: 1px solid $toplevel-border-color;
            border-radius: rem(6px) rem(6px) 0 0;
            box-shadow: outset-highlight("full");
            padding: rem(6px);
        }
    }

    // SSD doesn't calculate rems correctly
    &.ssd .titlebar {
        // Box shadow can't overlay content
        border-bottom: 1px solid $toplevel-border-color;
        border-radius: 6px 6px 0 0;
        box-shadow: outset-highlight("full");
        padding: 3px;

        button {
            border-radius: 3px;
            padding: 3px;
        }
    }

    box.start:dir(ltr),
    box.end:dir(rtl) {
        margin-right: rem(12px);
    }

    box.end:dir(ltr),
    box.start:dir(rtl) {
        margin-left: rem(12px);
    }
}

window.dialog.csd > headerbar,
window.dialog.csd > .titlebar {
    @extend .flat;
}
